.item{
    .delete {
        color: red;
        font-size: 30px;
        cursor: pointer;
      }
      .decrement{
        color:red;
        cursor: pointer;
      }
      .increment{
        color:green;
        cursor: pointer;
      }
      .oldPrice{
        text-decoration: line-through;
      }
}